<%= form_for @campaingfor_user do |f| %>

        <h1>Por favor, confirme el vacunatorio al que desea asistir</h1>
        <%= f.label "Vacunatorio" %>
        <%= f.select :vaccination_id, options_from_collection_for_select(Vaccination.all, :id, :nombre) %>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Editar datos de campaña</button>
    </div>
<%end%>
