<%= form_for @campaingfor_user do |f| %>
    <div>
        <%= f.label "Camapaña" %>
        <%= f.select :campaingvaccine_id, options_from_collection_for_select(Campaingvaccine.all, :id, :name) %>
    </div>
<%end%>

<div>
    <%= f.submit %>
</div>
<%end%>
