
<div class="container">

  <div class="row">
    <div class="col-m">
      <h3>Hola <%= current_user.email %></h3> 
    </div>
    <div class="col-m"></div>
    <div class="row">
      <div class="col-m">
        
      </div>
      <div class="col-m">
        <%= render "noticium/index" %>  
      </div>  
    </div>
  
  </div>

</div>



