
<div class="container">

  <div class="row">
    <div class="col-m">
      <h3>Hola <%= current_user.nombre %></h3> 
    </div>
    <div class="col-m"></div>
    <div class="row">
      <div class="col-m">
        
      </div>
      <div class="col-m">
        <%= render "noticium/index" %>  
        <li class="nav-item">
          <%= link_to "Cambiar la contraseña", edit_user_registration_path%>
        </li>
      </div>  



    </div>
  
  </div>

</div>



