<form>
    <div class="container">
        <%= form_for @tipo_vacuna do |f| %>

        <div class="field">
            <%= f.label :nombre %>
            <%= f.text_field :nombre%>
        </div>

        <div class="actions">
            <%= f.submit "Actualizar"%>
        </div>

        <%end%>


</form>