<div class = "container">
<h1>Listado de Vacunas</h1>
<table class="table">
    <tr>
        <thead>
            <th>Vacuna: </th>
        </thead>
    </tr>
    <tbody>
        <% @tipo_vacunas.each do |v| %>
        <tr>
            <td><%= v.nombre %></td>
            <td>
                <%= link_to "Editar", edittipo_vacuna_path(v)%>
                <%= link_to "Eliminar", v, method: :delete, data: { confirm: "¿Deseas eliminar este tipo de vacuna?"} %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= link_to "Ingresar tipo de vacunas", tipo_vacunas_new_path, class: 'btn btn-info btn-sm'  %>
</div>