<%= form_for @turno do |f| %>
    <div class="field">
        <label class="form-label"><%= f.label "Vacunatorio" %></label>
        <%= f.select :vaccination_id, options_from_collection_for_select(Vaccination.all, :id, :nombre) %>
    </div>

    <div>
        <%= f.label "Por favor, confirme la creación de turnos automáticos"%>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Crear turnos</button>
    </div>
<%end%>
