
<div class="container">

<%= form_for @turno do |f| %>
    <div>
        <%= f.label "Por favor, confirme la creación de turnos automáticos"%>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Crear turnos</button>
    </div>
<%end%>

</div>
