<%= form_for @turno do |f| %>
    <div>
        <%= f.label :vaccination_id %>
        <%= f.select :vaccination_id, options_from_collection_for_select(Vaccination.all, :id, :nombre) %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<%end%>
